<md-dialog>
    <md-content class="md-margin">
        <md-item>
            <md-item-content>
                <div class="md-tile-left">
                    <md-button ng- ui-sref="root.app.backup">
                        <i ui-sref="root.app.backup" class="md-backup md-2x"></i>
                    </md-button>
                </div>
                <div class="md-tile-content">
                    <h3>Mode simple</h3>
                    <h4>{{item.who}}</h4>
                    <p>
                        fadsfadfadsfaf asdf asf
                    </p>
                </div>
            </md-item-content>
        </md-item>
        <md-item>
            <md-item-content>
                <div class="md-tile-left">
                    <md-button ui-sref="root.app.backup">
                        <i ui-sref="root.app.backup" class="md-backup md-2x"></i>
                    </md-button>
                </div>
                <div class="md-tile-content">
                    <h3>Mode simple</h3>
                    <h4>{{item.who}}</h4>
                    <p>
                        fadsfadfadsfaf asdf asf
                    </p>
                </div>
            </md-item-content>
        </md-item>
        <md-item>
            <md-item-content>
                <div class="md-tile-left">
                    <md-button ui-sref="root.app.backup">
                        <i class="md-backup md-2x"></i>
                    </md-button>
                </div>
                <div class="md-tile-content">
                    <h3>Mode Avance</h3>
                    <h4>{{item.who}}</h4>
                    <p>
                        fadsfadfadsfaf asdf asf
                    </p>
                </div>
            </md-item-content>
        </md-item>
    </md-content>
</md-dialog>
