<md-dialog>
    <md-content class="md-margin">
        <div layout="row">
            <div layout-align="center center" layout="column">
                <span>Details</span>
            </div>
            <md-button ng-click="add()">
                <i class="md-add"></i>
            </md-button>
        </div>
        <div >
            <md-input-container>
                <label>Entrer une liste d'extensions separer par des virgules</label>
                <textarea ng-model="extensions"></textarea>
            </md-input-container>
            <!--     <md-switch ng-model="more[ext.id]" aria-label="Switch 1">
                    More {{ more[ext.id] }}
                </md-switch>
                <md-content ng-show="more[ext.id]">
                    <md-checkbox ng-model="selected[ext.id]" ng-repeat="ext in extensions" aria-label="{{ext.name}}">
                        {{ext.content}}
                    </md-checkbox>
                </md-content>
                 -->
        </div>
        <md-button ng-click="cancel()" >Annuler</md-button>
        <md-button ng-click="confirm()"  class="md-primary md-raised">Valider</md-button>
    </md-content>
</md-dialog>
